<div>
  <ul class="ul-cl">
   <li class="height">300</li>
     <div class="height">
     <% @ar.each do|i|%>
     <li><%=i%></li>
     <% end %>
     </div>

    

     <div class="height">
     <% @ar1.each do|i|%>
     <li><%=i%></li>
     <% end %>
     </div>
    

     <div class="height">
     <% @ar2.each do|i|%>
     <li><%=i%></li>
     <% end %>
     </div>

     <div class="height">
     <% @ar3.each do|i|%>
     <li><%=i%></li>
     <% end %>
     </div>

     <div class="height">
     <% @ar4.each do|i|%>
     <li><%=i%></li>
     <% end %>
     </div>

      <div class="height">
     <% @ar5.each do|i|%>
     <li><%=i%></li>
     <% end %>
     </div>

     <div class="height">
     <% @ar6.each do|i|%>
     <li><%=i%></li>
     <% end %>
     </div>

     <div class="height">
     <% @ar7.each do|i|%>
     <li><%=i%></li>
     <% end %>
     </div>
  </ul>
</div>